.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #282c34;
  margin: 0.8em 1.2em;
}

body {
  margin: 2em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
}

.cell {
  background-color: rgb(134, 133, 133);
  border: 2px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
}

.not-cell {
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  width: 50px;
  height: 50px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
}

.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 0.8em;
  overflow: hidden;
  list-style: none;
}

.table-not-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 0.8em;
  overflow: hidden;
  list-style: none;
}

@media all and (max-width: 10px) {
  .table--collapse {
    display: block;
  }

  .table--collapse > .table-cell {
    width: 100% !important;
  }
  .table--collapse > .table-not-cell {
    width: 100% !important;
  }
  .table--collapse > .piece-cell {
    width: 100% !important;
  }
}

.piece-cell-dark {
  border: solid white;
  background-color: rgba(119, 89, 89, 0.8);
  border: 4px solid rgb(0, 0, 0);
  border-top-color: rgba(119, 89, 89, 0.3);
  border-right-color: rgba(119, 89, 89, 1);
  border-left-color: rgba(119, 89, 89, 0.3);
  border-bottom-color: rgba(119, 89, 89, 1);
}

.piece-cell-light {
  border: solid white;
  background-color: rgba(179, 157, 157, 0.8);
  border: 4px solid rgb(0, 0, 0);
  border-top-color: rgba(179, 157, 157, 0.3);
  border-right-color: rgba(179, 157, 157, 1);
  border-left-color: rgba(179, 157, 157, 0.3);
  border-bottom-color: rgba(179, 157, 157, 1);
}

.board {
  border: 2px solid rgb(0, 122, 236);
}

.board-cell {
  border: 2px solid #111;
  background-color: #282c34;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 2.2em 1em;
  overflow: hidden;
  list-style: none;
}

.board-not-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 2.2em 1em;
  overflow: hidden;
  list-style: none;
}

.board-cell:active {
  background-color: rgb(0, 122, 236);
}

.card {
  width: 15%;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #282c34;
  min-width: 150px;
}

.card-header {
  width: "100%";
  height: "25%";
  display: "flex";
  justify-content: "start";
  align-items: "center";
}

.card-controls {
  width: "100%";
  height: "25%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.card-selected {
  background-color: #272727d0;
  border-color: rgb(0, 122, 236);
}

/**https://css-tricks.com/accessible-simple-responsive-tables/
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids*/
